services:
  docker:
    image: docker:dind
    privileged: true
    restart: always
    environment:
      DOCKER_TLS_CERTDIR: ""
    command: ["--host=tcp://0.0.0.0:2375", "--host=unix:///var/run/docker.sock"]
    ports:
      - "2375:2375"
    networks:
      - jenkins

  jenkins:
    build: .
    restart: always
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins-data:/var/jenkins_home:rw
    environment:
      - JAVA_OPTS=-Dhudson.model.DirectoryBrowserSupport.CSP=
      - DOCKER_HOST=tcp://docker:2375
    networks:
      - jenkins
    depends_on:
      - docker

networks:
  jenkins:

volumes:
  jenkins-data:
